<web-app xmlns:jakartaee="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee/web-app_6_1.xsd"
         version="6.1">
    <servlet>
        <servlet-name>ConsumerServlet</servlet-name>
        <servlet-class>tpjad.ConsumerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ConsumerServlet</servlet-name>
        <url-pattern>/consumer</url-pattern>
    </servlet-mapping>
</web-app>